<launch>
  <arg name="world_file"  default="$(env TURTLEBOT_GAZEBO_WORLD_FILE)"/>
  <arg name="map_file" default="$(env TURTLEBOT_GAZEBO_MAP_FILE)"/>

  <arg name="base"      value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
  <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 -->
  <arg name="gui" default="true"/>
  <arg name="stacks"    value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro -->

  <!-- gazebo world start -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find turtlebot_description)/robots/$(arg base)_$(arg stacks)_$(arg 3d_sensor).urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <!-- Robot 1 -->
  <group ns="turtlebot1">
    <param name="tf_prefix" value="robot1_tf"/>
    <include file="$(find waypoints_following)/launch/spawn_turtlebot.launch">
      <arg name="x" value="1.0" />
      <arg name="y" value="1.0" />
      <arg name="z" value="0.0" />
      <arg name="tf_prefix" value="robot1_tf" />
      <arg name="ns" value="turtlebot1" />
      <arg name="map" value="$(arg map_file)" />
    </include>
  </group>

  <!-- Robot 2 -->
  <group ns="turtlebot2">
    <param name="tf_prefix" value="robot2_tf"/>
    <include file="$(find waypoints_following)/launch/spawn_turtlebot.launch">
      <arg name="x" value="1.0" />
      <arg name="y" value="-1.0" />
      <arg name="z" value="0.0" />
      <arg name="tf_prefix" value="robot2_tf" />
      <arg name="ns" value="turtlebot2" />
      <arg name="map" value="$(arg map_file)" />
    </include>s
  </group>
</launch>
